@use '@angular/material' as mat;
@import '~@angular/material/theming';

$dynamic-theme-primary: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: var(--theme-primary-contrast-50),
    100: var(--theme-primary-contrast-100),
    200: var(--theme-primary-contrast-200),
    300: var(--theme-primary-contrast-300),
    400: var(--theme-primary-contrast-400),
    500: var(--theme-primary-contrast-500),
    600: var(--theme-primary-contrast-600),
    700: var(--theme-primary-contrast-700),
    800: var(--theme-primary-contrast-800),
    900: var(--theme-primary-contrast-900),
    A100: var(--theme-primary-contrast-A100),
    A200: var(--theme-primary-contrast-A200),
    A400: var(--theme-primary-contrast-A400),
    A700: var(--theme-primary-contrast-A700),
  )
);

$dynamic-theme-accent: (
  50 : var(--theme-accent-50),
  100 : var(--theme-accent-100),
  200 : var(--theme-accent-200),
  300 : var(--theme-accent-300),
  400 : var(--theme-accent-400),
  500 : var(--theme-accent-500),
  600 : var(--theme-accent-600),
  700 : var(--theme-accent-700),
  800 : var(--theme-accent-800),
  900 : var(--theme-accent-900),
  A100 : var(--theme-accent-A100),
  A200 : var(--theme-accent-A200),
  A400 : var(--theme-accent-A400),
  A700 : var(--theme-accent-A700),
  contrast: (
    50: var(--theme-accent-contrast-50),
    100: var(--theme-accent-contrast-100),
    200: var(--theme-accent-contrast-200),
    300: var(--theme-accent-contrast-300),
    400: var(--theme-accent-contrast-400),
    500: var(--theme-accent-contrast-500),
    600: var(--theme-accent-contrast-600),
    700: var(--theme-accent-contrast-700),
    800: var(--theme-accent-contrast-800),
    900: var(--theme-accent-contrast-900),
    A100: var(--theme-accent-contrast-A100),
    A200: var(--theme-accent-contrast-A200),
    A400: var(--theme-accent-contrast-A400),
    A700: var(--theme-accent-contrast-A700),
  )
);

$dynamic-theme-warn: (
  50 : var(--theme-warn-50),
  100 : var(--theme-warn-100),
  200 : var(--theme-warn-200),
  300 : var(--theme-warn-300),
  400 : var(--theme-warn-400),
  500 : var(--theme-warn-500),
  600 : var(--theme-warn-600),
  700 : var(--theme-warn-700),
  800 : var(--theme-warn-800),
  900 : var(--theme-warn-900),
  A100 : var(--theme-warn-A100),
  A200 : var(--theme-warn-A200),
  A400 : var(--theme-warn-A400),
  A700 : var(--theme-warn-A700),
  contrast: (
    50: var(--theme-warn-contrast-50),
    100: var(--theme-warn-contrast-100),
    200: var(--theme-warn-contrast-200),
    300: var(--theme-warn-contrast-300),
    400: var(--theme-warn-contrast-400),
    500: var(--theme-warn-contrast-500),
    600: var(--theme-warn-contrast-600),
    700: var(--theme-warn-contrast-700),
    800: var(--theme-warn-contrast-800),
    900: var(--theme-warn-contrast-900),
    A100: var(--theme-warn-contrast-A100),
    A200: var(--theme-warn-contrast-A200),
    A400: var(--theme-warn-contrast-A400),
    A700: var(--theme-warn-contrast-A700),
  )
);

$dynamic-light-theme-background: (
  status-bar: map_get(mat.$grey-palette, 300),
  app-bar: map_get(mat.$grey-palette, 100),
  background: map_get(mat.$grey-palette, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
);

$dynamic-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$dynamic-app-theme: (
  primary: mat.define-palette($dynamic-theme-primary),
  accent: mat.define-palette($dynamic-theme-accent),
  warn: mat.define-palette($dynamic-theme-warn),
  is-dark: false,
  foreground: $dynamic-light-theme-foreground,
  background: $dynamic-light-theme-background
);

$dynamic-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(24px, 32px, 400),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(16px, 28px, 400),
  $subheading-1: mat.define-typography-level(15px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
  $input: mat.define-typography-level(inherit, 1.125, 400)
);
