@use '@angular/material' as mat;
@import '~@angular/material/theming';

// Light theme

$light-theme-primary: (
  50 : var(--light-theme-primary-50, #fefeff),
  100 : var(--light-theme-primary-100, #c6cbeb),
  200 : var(--light-theme-primary-200, #9ca6dd),
  300 : var(--light-theme-primary-300, #6776ca),
  400 : var(--light-theme-primary-400, #5062c2),
  500 : var(--light-theme-primary-500, #3f51b5),
  600 : var(--light-theme-primary-600, #37479e),
  700 : var(--light-theme-primary-700, #2f3d88),
  800 : var(--light-theme-primary-800, #273371),
  900 : var(--light-theme-primary-900, #1f285a),
  A100 : var(--light-theme-primary-A100, #f5f6fe),
  A200 : var(--light-theme-primary-A200, #9aa8f3),
  A400 : var(--light-theme-primary-A400, #4f64d8),
  A700 : var(--light-theme-primary-A700, #475ac7),
  contrast: (
    50: var(--light-theme-primary-contrast-50, rgba(black, 0.87)),
    100: var(--light-theme-primary-contrast-100, rgba(black, 0.87)),
    200: var(--light-theme-primary-contrast-200, rgba(black, 0.87)),
    300: var(--light-theme-primary-contrast-300, white),
    400: var(--light-theme-primary-contrast-400, white),
    500: var(--light-theme-primary-contrast-500, white),
    600: var(--light-theme-primary-contrast-600, white),
    700: var(--light-theme-primary-contrast-700, white),
    800: var(--light-theme-primary-contrast-800, white),
    900: var(--light-theme-primary-contrast-900, white),
    A100: var(--light-theme-primary-contrast-A100, rgba(black, 0.87)),
    A200: var(--light-theme-primary-contrast-A200, rgba(black, 0.87)),
    A400: var(--light-theme-primary-contrast-A400, white),
    A700: var(--light-theme-primary-contrast-A700, white),
  )
);

$light-theme-accent: (
  50 : var(--light-theme-accent-50, #ffffff),
  100 : var(--light-theme-accent-100, #fffdfd),
  200 : var(--light-theme-accent-200, #ffc5d8),
  300 : var(--light-theme-accent-300, #ff7da9),
  400 : var(--light-theme-accent-400, #ff5f95),
  500 : var(--light-theme-accent-500, #ff4081),
  600 : var(--light-theme-accent-600, #ff216d),
  700 : var(--light-theme-accent-700, #ff0359),
  800 : var(--light-theme-accent-800, #e3004d),
  900 : var(--light-theme-accent-900, #c50043),
  A100 : var(--light-theme-accent-A100, #ffffff),
  A200 : var(--light-theme-accent-A200, #ffd9e6),
  A400 : var(--light-theme-accent-A400, #ff73a3),
  A700 : var(--light-theme-accent-A700, #ff5992),
  contrast: (
    50: var(--light-theme-accent-contrast-50, rgba(black, 0.87)),
    100: var(--light-theme-accent-contrast-100, rgba(black, 0.87)),
    200: var(--light-theme-accent-contrast-200, rgba(black, 0.87)),
    300: var(--light-theme-accent-contrast-300, rgba(black, 0.87)),
    400: var(--light-theme-accent-contrast-400, rgba(black, 0.87)),
    500: var(--light-theme-accent-contrast-500, rgba(black, 0.87)),
    600: var(--light-theme-accent-contrast-60, white),
    700: var(--light-theme-accent-contrast-700, white),
    800: var(--light-theme-accent-contrast-800, white),
    900: var(--light-theme-accent-contrast-900, white),
    A100: var(--light-theme-accent-contrast-A100, rgba(black, 0.87)),
    A200: var(--light-theme-accent-contrast-A200, rgba(black, 0.87)),
    A400: var(--light-theme-accent-contrast-A400, rgba(black, 0.87)),
    A700: var(--light-theme-accent-contrast-A700, rgba(black, 0.87)),
  )
);

$light-theme-warn: (
  50 : var(--light-theme-warn-50, #ffffff),
  100 : var(--light-theme-warn-100, #feeae9),
  200 : var(--light-theme-warn-200, #fbb9b4),
  300 : var(--light-theme-warn-300, #f77970),
  400 : var(--light-theme-warn-400, #f65e53),
  500 : var(--light-theme-warn-500, #f44336),
  600 : var(--light-theme-warn-600, #f22819),
  700 : var(--light-theme-warn-700, #e11b0c),
  800 : var(--light-theme-warn-800, #c3170b),
  900 : var(--light-theme-warn-900, #a61409),
  A100 : var(--light-theme-warn-A100, #ffffff),
  A200 : var(--light-theme-warn-A200, #ffc8c4),
  A400 : var(--light-theme-warn-A400, #ff695e),
  A700 : var(--light-theme-warn-A700, #fa564a),
  contrast: (
    50: var(--light-theme-warn-contrast-50, rgba(black, 0.87)),
    100: var(--light-theme-warn-contrast-100, rgba(black, 0.87)),
    200: var(--light-theme-warn-contrast-200, rgba(black, 0.87)),
    300: var(--light-theme-warn-contrast-300, rgba(black, 0.87)),
    400: var(--light-theme-warn-contrast-400, rgba(black, 0.87)),
    500: var(--light-theme-warn-contrast-500, white),
    600: var(--light-theme-warn-contrast-600, white),
    700: var(--light-theme-warn-contrast-700, white),
    800: var(--light-theme-warn-contrast-800, white),
    900: var(--light-theme-warn-contrast-900, white),
    A100: var(--light-theme-warn-contrast-A100, rgba(black, 0.87)),
    A200: var(--light-theme-warn-contrast-A200, rgba(black, 0.87)),
    A400: var(--light-theme-warn-contrast-A400, rgba(black, 0.87)),
    A700: var(--light-theme-warn-contrast-A700, rgba(black, 0.87)),
  )
);

// Dark theme

$dark-theme-primary: (
  50 : var(--dark-theme-primary-50, #fefeff),
  100 : var(--dark-theme-primary-100, #c6cbeb),
  200 : var(--dark-theme-primary-200, #9ca6dd),
  300 : var(--dark-theme-primary-300, #6776ca),
  400 : var(--dark-theme-primary-400, #5062c2),
  500 : var(--dark-theme-primary-500, #3f51b5),
  600 : var(--dark-theme-primary-600, #37479e),
  700 : var(--dark-theme-primary-700, #2f3d88),
  800 : var(--dark-theme-primary-800, #273371),
  900 : var(--dark-theme-primary-900, #1f285a),
  A100 : var(--dark-theme-primary-A100, #f5f6fe),
  A200 : var(--dark-theme-primary-A200, #9aa8f3),
  A400 : var(--dark-theme-primary-A400, #4f64d8),
  A700 : var(--dark-theme-primary-A700, #475ac7),
  contrast: (
    50: var(--dark-theme-primary-contrast-50, rgba(black, 0.87)),
    100: var(--dark-theme-primary-contrast-100, rgba(black, 0.87)),
    200: var(--dark-theme-primary-contrast-200, rgba(black, 0.87)),
    300: var(--dark-theme-primary-contrast-300, white),
    400: var(--dark-theme-primary-contrast-400, white),
    500: var(--dark-theme-primary-contrast-500, white),
    600: var(--dark-theme-primary-contrast-600, white),
    700: var(--dark-theme-primary-contrast-700, white),
    800: var(--dark-theme-primary-contrast-800, white),
    900: var(--dark-theme-primary-contrast-900, white),
    A100: var(--dark-theme-primary-contrast-A100, rgba(black, 0.87)),
    A200: var(--dark-theme-primary-contrast-A200, rgba(black, 0.87)),
    A400: var(--dark-theme-primary-contrast-A400, white),
    A700: var(--dark-theme-primary-contrast-A700, white),
  )
);

$dark-theme-accent: (
  50 : var(--dark-theme-accent-50, #ffffff),
  100 : var(--dark-theme-accent-100, #fffdfd),
  200 : var(--dark-theme-accent-200, #ffc5d8),
  300 : var(--dark-theme-accent-300, #ff7da9),
  400 : var(--dark-theme-accent-400, #ff5f95),
  500 : var(--dark-theme-accent-500, #ff4081),
  600 : var(--dark-theme-accent-600, #ff216d),
  700 : var(--dark-theme-accent-700, #ff0359),
  800 : var(--dark-theme-accent-800, #e3004d),
  900 : var(--dark-theme-accent-900, #c50043),
  A100 : var(--dark-theme-accent-A100, #ffffff),
  A200 : var(--dark-theme-accent-A200, #ffd9e6),
  A400 : var(--dark-theme-accent-A400, #ff73a3),
  A700 : var(--dark-theme-accent-A700, #ff5992),
  contrast: (
    50: var(--dark-theme-accent-contrast-50, rgba(black, 0.87)),
    100: var(--dark-theme-accent-contrast-100, rgba(black, 0.87)),
    200: var(--dark-theme-accent-contrast-200, rgba(black, 0.87)),
    300: var(--dark-theme-accent-contrast-300, rgba(black, 0.87)),
    400: var(--dark-theme-accent-contrast-400, rgba(black, 0.87)),
    500: var(--dark-theme-accent-contrast-500, rgba(black, 0.87)),
    600: var(--dark-theme-accent-contrast-60, white),
    700: var(--dark-theme-accent-contrast-700, white),
    800: var(--dark-theme-accent-contrast-800, white),
    900: var(--dark-theme-accent-contrast-900, white),
    A100: var(--dark-theme-accent-contrast-A100, rgba(black, 0.87)),
    A200: var(--dark-theme-accent-contrast-A200, rgba(black, 0.87)),
    A400: var(--dark-theme-accent-contrast-A400, rgba(black, 0.87)),
    A700: var(--dark-theme-accent-contrast-A700, rgba(black, 0.87)),
  )
);

$dark-theme-warn: (
  50 : var(--dark-theme-warn-50, #ffffff),
  100 : var(--dark-theme-warn-100, #feeae9),
  200 : var(--dark-theme-warn-200, #fbb9b4),
  300 : var(--dark-theme-warn-300, #f77970),
  400 : var(--dark-theme-warn-400, #f65e53),
  500 : var(--dark-theme-warn-500, #f44336),
  600 : var(--dark-theme-warn-600, #f22819),
  700 : var(--dark-theme-warn-700, #e11b0c),
  800 : var(--dark-theme-warn-800, #c3170b),
  900 : var(--dark-theme-warn-900, #a61409),
  A100 : var(--dark-theme-warn-A100, #ffffff),
  A200 : var(--dark-theme-warn-A200, #ffc8c4),
  A400 : var(--dark-theme-warn-A400, #ff695e),
  A700 : var(--dark-theme-warn-A700, #fa564a),
  contrast: (
    50: var(--dark-theme-warn-contrast-50, rgba(black, 0.87)),
    100: var(--dark-theme-warn-contrast-100, rgba(black, 0.87)),
    200: var(--dark-theme-warn-contrast-200, rgba(black, 0.87)),
    300: var(--dark-theme-warn-contrast-300, rgba(black, 0.87)),
    400: var(--dark-theme-warn-contrast-400, rgba(black, 0.87)),
    500: var(--dark-theme-warn-contrast-500, white),
    600: var(--dark-theme-warn-contrast-600, white),
    700: var(--dark-theme-warn-contrast-700, white),
    800: var(--dark-theme-warn-contrast-800, white),
    900: var(--dark-theme-warn-contrast-900, white),
    A100: var(--dark-theme-warn-contrast-A100, rgba(black, 0.87)),
    A200: var(--dark-theme-warn-contrast-A200, rgba(black, 0.87)),
    A400: var(--dark-theme-warn-contrast-A400, rgba(black, 0.87)),
    A700: var(--dark-theme-warn-contrast-A700, rgba(black, 0.87)),
  )
);
/*
$dynamic-light-theme-background: (
  status-bar: map_get(mat.$grey-palette, 300),
  app-bar: map_get(mat.$grey-palette, 100),
  background: map_get(mat.$grey-palette, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
);

$dynamic-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);



$dynamic-app-theme: (
  primary: mat.define-palette($dynamic-theme-primary),
  accent: mat.define-palette($dynamic-theme-accent),
  warn: mat.define-palette($dynamic-theme-warn),
  is-dark: false,
  foreground: $dynamic-light-theme-foreground,
  background: $dynamic-light-theme-background
);

 */
$dynamic-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(24px, 32px, 400),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(16px, 28px, 400),
  $subheading-1: mat.define-typography-level(15px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
  $input: mat.define-typography-level(inherit, 1.125, 400)
);
