@use '@angular/material' as mat;
@import '@angular/material/theming';

// Light theme

$light-theme-primary: (
  50 : var(--light-theme-primary-50, #8ae7ff),
  100 : var(--light-theme-primary-100, #3ed8ff),
  200 : var(--light-theme-primary-200, #06ccff),
  300 : var(--light-theme-primary-300, #0097bd),
  400 : var(--light-theme-primary-400, #007e9f),
  500 : var(--light-theme-primary-500, #006680),
  600 : var(--light-theme-primary-600, #004e61),
  700 : var(--light-theme-primary-700, #003543),
  800 : var(--light-theme-primary-800, #001d24),
  900 : var(--light-theme-primary-900, #000406),
  A100 : var(--light-theme-primary-A100, #80e5ff),
  A200 : var(--light-theme-primary-A200, #1ad0ff),
  A400 : var(--light-theme-primary-A400, #008fb3),
  A700 : var(--light-theme-primary-A700, #007a99),
  contrast: (
    50: var(--light-theme-primary-contrast-50, black),
    100: var(--light-theme-primary-contrast-100, black),
    200: var(--light-theme-primary-contrast-200, black),
    300: var(--light-theme-primary-contrast-300, white),
    400: var(--light-theme-primary-contrast-400, white),
    500: var(--light-theme-primary-contrast-500, white),
    600: var(--light-theme-primary-contrast-600, white),
    700: var(--light-theme-primary-contrast-700, white),
    800: var(--light-theme-primary-contrast-800, white),
    900: var(--light-theme-primary-contrast-900, white),
    A100: var(--light-theme-primary-contrast-A100, black),
    A200: var(--light-theme-primary-contrast-A200, black),
    A400: var(--light-theme-primary-contrast-A400, white),
    A700: var(--light-theme-primary-contrast-A700, white),
  )
);

$light-theme-accent: (
  50 : var(--light-theme-accent-50, #ffffff),
  100 : var(--light-theme-accent-100, #fef2e6),
  200 : var(--light-theme-accent-200, #fbd6b0),
  300 : var(--light-theme-accent-300, #f8b26c),
  400 : var(--light-theme-accent-400, #f6a34f),
  500 : var(--light-theme-accent-500, #f59432),
  600 : var(--light-theme-accent-600, #f48515),
  700 : var(--light-theme-accent-700, #df750b),
  800 : var(--light-theme-accent-800, #c26609),
  900 : var(--light-theme-accent-900, #a55708),
  A100 : var(--light-theme-accent-A100, #ffffff),
  A200 : var(--light-theme-accent-A200, #ffe0c1),
  A400 : var(--light-theme-accent-A400, #ffad5b),
  A700 : var(--light-theme-accent-A700, #fba146),
  contrast: (
    50: var(--light-theme-accent-contrast-50, black),
    100: var(--light-theme-accent-contrast-100, black),
    200: var(--light-theme-accent-contrast-200, black),
    300: var(--light-theme-accent-contrast-300, black),
    400: var(--light-theme-accent-contrast-400, black),
    500: var(--light-theme-accent-contrast-500, black),
    600: var(--light-theme-accent-contrast-60, black),
    700: var(--light-theme-accent-contrast-700, black),
    800: var(--light-theme-accent-contrast-800, white),
    900: var(--light-theme-accent-contrast-900, white),
    A100: var(--light-theme-accent-contrast-A100, black),
    A200: var(--light-theme-accent-contrast-A200, black),
    A400: var(--light-theme-accent-contrast-A400, black),
    A700: var(--light-theme-accent-contrast-A700, black),
  )
);

$light-theme-warn: (
  50 : var(--light-theme-warn-50, #ffffff),
  100 : var(--light-theme-warn-100, #feeae9),
  200 : var(--light-theme-warn-200, #fbb9b4),
  300 : var(--light-theme-warn-300, #f77970),
  400 : var(--light-theme-warn-400, #f65e53),
  500 : var(--light-theme-warn-500, #f44336),
  600 : var(--light-theme-warn-600, #f22819),
  700 : var(--light-theme-warn-700, #e11b0c),
  800 : var(--light-theme-warn-800, #c3170b),
  900 : var(--light-theme-warn-900, #a61409),
  A100 : var(--light-theme-warn-A100, #ffffff),
  A200 : var(--light-theme-warn-A200, #ffc8c4),
  A400 : var(--light-theme-warn-A400, #ff695e),
  A700 : var(--light-theme-warn-A700, #fa564a),
  contrast: (
    50: var(--light-theme-warn-contrast-50, rgba(black, 0.87)),
    100: var(--light-theme-warn-contrast-100, rgba(black, 0.87)),
    200: var(--light-theme-warn-contrast-200, rgba(black, 0.87)),
    300: var(--light-theme-warn-contrast-300, rgba(black, 0.87)),
    400: var(--light-theme-warn-contrast-400, rgba(black, 0.87)),
    500: var(--light-theme-warn-contrast-500, white),
    600: var(--light-theme-warn-contrast-600, white),
    700: var(--light-theme-warn-contrast-700, white),
    800: var(--light-theme-warn-contrast-800, white),
    900: var(--light-theme-warn-contrast-900, white),
    A100: var(--light-theme-warn-contrast-A100, rgba(black, 0.87)),
    A200: var(--light-theme-warn-contrast-A200, rgba(black, 0.87)),
    A400: var(--light-theme-warn-contrast-A400, rgba(black, 0.87)),
    A700: var(--light-theme-warn-contrast-A700, rgba(black, 0.87)),
  )
);

// Dark theme

$dark-theme-primary: (
  50 : var(--dark-theme-primary-50, #8ae7ff),
  100 : var(--dark-theme-primary-100, #3ed8ff),
  200 : var(--dark-theme-primary-200, #06ccff),
  300 : var(--dark-theme-primary-300, #0097bd),
  400 : var(--dark-theme-primary-400, #007e9f),
  500 : var(--dark-theme-primary-500, #006680),
  600 : var(--dark-theme-primary-600, #004e61),
  700 : var(--dark-theme-primary-700, #003543),
  800 : var(--dark-theme-primary-800, #001d24),
  900 : var(--dark-theme-primary-900, #000406),
  A100 : var(--dark-theme-primary-A100, #80e5ff),
  A200 : var(--dark-theme-primary-A200, #1ad0ff),
  A400 : var(--dark-theme-primary-A400, #008fb3),
  A700 : var(--dark-theme-primary-A700, #007a99),
  contrast: (
    50: var(--dark-theme-primary-contrast-50, black),
    100: var(--dark-theme-primary-contrast-100, black),
    200: var(--dark-theme-primary-contrast-200, black),
    300: var(--dark-theme-primary-contrast-300, white),
    400: var(--dark-theme-primary-contrast-400, white),
    500: var(--dark-theme-primary-contrast-500, white),
    600: var(--dark-theme-primary-contrast-600, white),
    700: var(--dark-theme-primary-contrast-700, white),
    800: var(--dark-theme-primary-contrast-800, white),
    900: var(--dark-theme-primary-contrast-900, white),
    A100: var(--dark-theme-primary-contrast-A100, black),
    A200: var(--dark-theme-primary-contrast-A200, black),
    A400: var(--dark-theme-primary-contrast-A400, white),
    A700: var(--dark-theme-primary-contrast-A700, white),
  )
);

$dark-theme-accent: (
  50 : var(--dark-theme-accent-50, #ffffff),
  100 : var(--dark-theme-accent-100, #fef2e6),
  200 : var(--dark-theme-accent-200, #fbd6b0),
  300 : var(--dark-theme-accent-300, #f8b26c),
  400 : var(--dark-theme-accent-400, #f6a34f),
  500 : var(--dark-theme-accent-500, #f59432),
  600 : var(--dark-theme-accent-600, #f48515),
  700 : var(--dark-theme-accent-700, #df750b),
  800 : var(--dark-theme-accent-800, #c26609),
  900 : var(--dark-theme-accent-900, #a55708),
  A100 : var(--dark-theme-accent-A100, #ffffff),
  A200 : var(--dark-theme-accent-A200, #ffe0c1),
  A400 : var(--dark-theme-accent-A400, #ffad5b),
  A700 : var(--dark-theme-accent-A700, #fba146),
  contrast: (
    50: var(--dark-theme-accent-contrast-50, black),
    100: var(--dark-theme-accent-contrast-100, black),
    200: var(--dark-theme-accent-contrast-200, black),
    300: var(--dark-theme-accent-contrast-300, black),
    400: var(--dark-theme-accent-contrast-400, black),
    500: var(--dark-theme-accent-contrast-500, black),
    600: var(--dark-theme-accent-contrast-60, black),
    700: var(--dark-theme-accent-contrast-700, black),
    800: var(--dark-theme-accent-contrast-800, white),
    900: var(--dark-theme-accent-contrast-900, white),
    A100: var(--dark-theme-accent-contrast-A100, black),
    A200: var(--dark-theme-accent-contrast-A200, black),
    A400: var(--dark-theme-accent-contrast-A400, black),
    A700: var(--dark-theme-accent-contrast-A700, black),
  )
);

$dark-theme-warn: (
  50 : var(--dark-theme-warn-50, #ffffff),
  100 : var(--dark-theme-warn-100, #feeae9),
  200 : var(--dark-theme-warn-200, #fbb9b4),
  300 : var(--dark-theme-warn-300, #f77970),
  400 : var(--dark-theme-warn-400, #f65e53),
  500 : var(--dark-theme-warn-500, #f44336),
  600 : var(--dark-theme-warn-600, #f22819),
  700 : var(--dark-theme-warn-700, #e11b0c),
  800 : var(--dark-theme-warn-800, #c3170b),
  900 : var(--dark-theme-warn-900, #a61409),
  A100 : var(--dark-theme-warn-A100, #ffffff),
  A200 : var(--dark-theme-warn-A200, #ffc8c4),
  A400 : var(--dark-theme-warn-A400, #ff695e),
  A700 : var(--dark-theme-warn-A700, #fa564a),
  contrast: (
    50: var(--dark-theme-warn-contrast-50, rgba(black, 0.87)),
    100: var(--dark-theme-warn-contrast-100, rgba(black, 0.87)),
    200: var(--dark-theme-warn-contrast-200, rgba(black, 0.87)),
    300: var(--dark-theme-warn-contrast-300, rgba(black, 0.87)),
    400: var(--dark-theme-warn-contrast-400, rgba(black, 0.87)),
    500: var(--dark-theme-warn-contrast-500, white),
    600: var(--dark-theme-warn-contrast-600, white),
    700: var(--dark-theme-warn-contrast-700, white),
    800: var(--dark-theme-warn-contrast-800, white),
    900: var(--dark-theme-warn-contrast-900, white),
    A100: var(--dark-theme-warn-contrast-A100, rgba(black, 0.87)),
    A200: var(--dark-theme-warn-contrast-A200, rgba(black, 0.87)),
    A400: var(--dark-theme-warn-contrast-A400, rgba(black, 0.87)),
    A700: var(--dark-theme-warn-contrast-A700, rgba(black, 0.87)),
  )
);
/*
$dynamic-light-theme-background: (
  status-bar: map_get(mat.$grey-palette, 300),
  app-bar: map_get(mat.$grey-palette, 100),
  background: map_get(mat.$grey-palette, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
);

$dynamic-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);



$dynamic-app-theme: (
  primary: mat.define-palette($dynamic-theme-primary),
  accent: mat.define-palette($dynamic-theme-accent),
  warn: mat.define-palette($dynamic-theme-warn),
  is-dark: false,
  foreground: $dynamic-light-theme-foreground,
  background: $dynamic-light-theme-background
);

 */
$dynamic-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(15px, 24px, 400),
  $subtitle-2: mat.define-typography-level(14px, 24px, 500),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);
